@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.nav-section {
	scroll-margin-top: 80px;
}
.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	height: 40px;
}
.nav-links {
	width: 390px;
	display: flex;
	justify-content: space-around;
}
.nav-link {
	text-transform: uppercase;
	width: 33%;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #333;
	transition:  0.7s ease;
	text-align: center;
	
}

.nav-link:hover {
	color: orange;

	transform: scale(120%, 120%);
}
@media (min-width: 600px) {
	.nav-links {
		width: 500px;
	}
	.nav-link {
		font-size: 22px;
	}
	.nav-link:hover {
		transform: scale(120%, 120%);
	}
}
