@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.nav-section{
	/* position: relative;
	top: 80px; */
	margin-top: 60px;
}
.nav-container {
	display: flex;
	justify-content: center;
	padding: 10px 0;
	height: 60px;
    
}
.nav-link {
	line-height: 80px;
	width: 80px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #333;
	padding:0  20px;
	transition: 0.7s;
}

.nav-link:hover {
	color: orange;
}
@media (min-width: 600px) {
	.nav-link {
		font-size: 22px;
	}
}
