.product-card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.arrow-box{
    width: 70%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    position: relative;
}
.arrow-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}


.up-arrow{
position: relative;
top: -20px
}
.side-arrow{
    position: relative;
    top:10px
}
.arrow{
    font-size: 40px;
    color: #322c3a;
    transition: 0.7s;
    cursor: pointer;
}

.arrow p{
    font-size: 16px;
}


.arrow:hover{
    color: orange;
    transform: scale(150%, 150%);

}

.arrow-element button{
    border: 0;
    background-color: rgba(0,0,0,0);
}


.carousel-root{
    width: 40%;
}
.thumbs{
    display: flex;
    justify-content: center;
}

.productCard h3 {
    text-transform: uppercase;
    color: rgb(35, 80, 228);

}

.productCard p{

    color: #322c3a;
}

