.product-card-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	max-width: 500px
    
}

@media (min-width: 992px) {
	.product-card-box {
		width: 40%;
	}
}



.up-arrow {
	position: relative;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
    margin: 0 auto;
    width: 50%;
  
}

.up-arrow button{
    width: 100%;
    border: 0;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    color: #333;
    margin-bottom: 10px;
}
.card{
    border-radius: 20px;
background: #e0e0e0;
box-shadow:  6px 6px 12px #9d9d9d,
             -6px -6px 12px #ffffff;
                 overflow: hidden;
}
.image-container{
	position: relative;

}
.arrow {
	height: 100%;
	width: 30px;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	cursor: pointer;
}
.next {
	right: 0;
}

.previous {
	left: 0;
}

.fa-chevron-left {
	position: absolute;
	top: 50%;
	left: 0;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}
.fa-chevron-right {
	position: absolute;
	top: 50%;
	right: 0;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}
.disabled{
    display: none;
}
.carousel-root {
	width: 100%;
}


.productCard h3 {
	text-transform: uppercase;
	color: rgb(35, 80, 228);
    text-align: center;
}

.productCard p {
	color: #322c3a;
    padding: 0 0 7px 7px;
}
