.filter-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	border: 2px solid black;
	border-radius: 24px;
	background: #e0e0e0;
	box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #ffffff;
	position: relative;
	top: 20px;
	overflow: hidden;
}



.leftUp,
.rightUp {
	font-size: 24px;
	margin: 2px;
	transition: transform 0.5s;
	color: #322c3a;
}

.leftUp.hidden {
	transform: rotate(180deg);
}
.rightUp.hidden {
	transform: rotate(-180deg);
}

.hide-btn {
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-color: #322c3a;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	width: 98%;
	margin: 3px;
	border-radius: 15px;
	transition: color 0.7s;
}

.hide-btn:hover{
	color: orange
}
.filter {
	display: flex;
	height: 245px;
	flex-direction: column;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	transition: height 0.5s;
}

.filter.hidden {
	height: 0px;
}

fieldset {
	margin: 5px 0;
	padding: 0 7px;
	border-radius: 10px;
	border-color: #322c3a;
}
.filter input {
	width: 30px;
	margin: 5px;
}

.check{
	position: relative;
	left: -27px;
	display: none;
}


.weight,
.persons,
.category .subcategory {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn-reset {
	font-family: 'Raleway', sans-serif;
	width: 80%;
	border-radius: 15px;
	border-color: #322c3a;
	transition: color 0.7s
}

.btn-reset:hover{
	color: orange
}
@media (min-width: 992px) {
	.filter-container {
		display: flex;
		flex-direction: column;
		width: 20%;
		/* height: 300px; */
	}
	.hide-btn {
		width: 95%;
	}
}
