.filter-container {
	margin: 0 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	min-width: 270px;
	border: 2px solid black;
	border-radius: 24px;
	background: #e0e0e0;
	box-shadow: 7px 7px 14px #bebebe, -7px -7px 14px #ffffff;
	position: relative;
	top: 20px;
	overflow: hidden;
}

.filter-container label{
	display: inline-block;
	
}
.leftUp,
.rightUp {
	font-size: 24px;
	margin: 2px;
	transition: transform 0.5s;
	color: #322c3a;
}

.leftUp.hidden {
	transform: rotate(180deg);
}
.rightUp.hidden {
	transform: rotate(-180deg);
}

.btn-hide {
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-color: #322c3a;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	width: 98%;
	margin: 3px;
	border-radius: 15px;
	transition: color 0.7s;
}

.btn-hide:hover {
	color: orange;
}
.filter {
	max-height: 490px;
	padding: 0 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	transition: max-height 0.5s;
}

.filter.hidden {
	max-height: 0px;
}

fieldset {
	margin: 5px 0;
	padding: 0 7px;
	border-radius: 10px;
	border-color: #322c3a;
	display: flex;
	flex-wrap: wrap;
}
.filter input{
	
	width: 55px;
	height: 20px;
	margin: 5px;
	font-size: 18px;
}


.ingredients input{
	margin: 0;
	width: 25px;
}
.category input,
.subcategory input {
	width: 20px;
}

/* input[type=checkbox] {
	height:0px;
	width:0px;
  }
  input[type=checkbox]::after {
	height:25px;
	width:25px;
	content:"\00a0\00a0\00a0\00a0";
	border:1px solid black;
  } */
  /* The magic below */
  /* input[type=checkbox]:checked::after {
	height:25px;
	width:25px;
	background-color:#322c3a;
	content:"✓";
	color: #fff;
	border:1px solid black;
  } */

.weight,
.persons,
.category,
.subcategory {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.filter-method{
	width: 250px;
	margin: auto;
}
.list{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.ingredients-checkbox{
	
	margin: 3px 10px;
	/* background-color: #fff; */
	display: flex;
	justify-content: end;
	
}
.method-checkbox{
	margin: auto;
	

}
.btn-reset {
	font-family: 'Raleway', sans-serif;
	height: 2em;
	width: 95%;
	margin-bottom: 5px;
	border-radius: 15px;
	border-color: #322c3a;
	transition: color 0.7s;
}

.btn-reset:hover {
	color: orange;
}
 

/*SLIDER STYLING START*/


.slider-container{
	/* border: 1px solid black */
	width: 300px;
	max-width: 80%;
  }
  
  .horizontal-slider {
	  height: 30px;
	  border: 0;
	  padding: 5px 0;;
	  
  }
  


  .thumb:focus-visible{
	outline: 0;
  }
  .track {
	position: relative;
	background: #aaa;
  }
  
  .track.track-1 {
	background: #322c3a;
  }
  
  .track.track-2 {
	background: #aaa;
  }
  
  .horizontal-slider .track {
	top: 10px;
	height: 10px;
	border-radius: 10px;
  }
  
  .horizontal-slider .thumb {
	top: 1px;
	width: 30px;
	height: 28px;
	line-height: 25px;
	font-size: 1em;
	text-align: center;
	background-color: #322c3a;
	color: white;
	cursor: pointer;
	
	
	border-radius: 50%;
	box-sizing: border-box;
	transition: color 0.5s, font-size 0.1s
  }
  .thumb:hover {
	color: orange;
	font-size: 1.3em;
  }

/*SLIDER STYLNG END*/