@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.admin-form-container {
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	width: 98%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.admin-form div {
	margin: 10px;
}

.admin-form label {
	margin: 5px 0;
}
.admin-form textarea,
input option {
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

.admin-form input:focus,
.admin-form select:focus,
.admin-form textarea:focus {
	background-color: #eef;
}

.section {
	display: flex;
	flex-direction: column;
}
.short-inputs {
	display: flex;
	flex-wrap: wrap;
}
.admin-form .button {
	display: block;
	margin: 10px auto;
	width: 50%;
}

.upload__image-wrapper {
	width: 100%;
}
.add-buttons {
	width: 350px;
	margin: auto;
}
.image-item {
	
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border: 2px solid #eee;
	padding: 5px;
}

.add-img-btn {
	padding: 20px 0;
}

.image-item .button {
	width: 100%;
}
.add-img {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}


@media (min-width: 992px) {
	.admin-form-container {
		width: 80%;
	}
}


.admin-form  .invisible {
	display: none;
}