.admin-list-container{
display: flex;
flex-direction: column;
align-items: center;
width: 98%;
margin: 0 auto;
}

@media (min-width: 1200px){
    .admin-list-container{
        width: 70%;
    }


}
.add-btn{
width: 200px;
margin-bottom: 10px;
}
.product-table {
	width: 98%;

}


.product-table .table-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}

.table-img{
    height: 50px;
    margin: auto;
}

.table button {
	margin: 1px ;
}
td{border: 1px solid black;}